
{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
<img class="hidden-xs hidden-sm" src="/fcai/static/images/screenshot.png" style="width:100%">
{{end}}

<h1>FCAI Psychometrics App</h1>

<p><a class="btn btn-default" href="https://expo.io/@fcai/fcai-app">Download for Android*</a> 
   <a class="btn btn-default" href="/fcai/default/results">Login to view test results</a></p>
   
   <p><i>*Link takes you to Expo Client page. iOS version available soon.</i></p>
   
   <hr/>

<p>Many individuals on the autism spectrum have extraordinary visual capabilities, far beyond those of neurotypical individuals. By finding those people, we can match them with meaningful employment that can make use of those talents, such as fraud detection at a bank.</p>

<p>The FCAI Psychometrics App is a mobile application that administers a visual test quickly and efficiently by those who work with individuals on the spectrum. The test is based on the research of Dr. Frank Tong at the Department of Psychology at Vanderbilt University.</p>

<p>While the app works on Android and iOS phones and tablets, we can only make it available for download on Android at this time. Eventually, we would like to make it available as a standalone app on Google Play and the iOS App Store.</p>

<p>To install the FCAI Psychometrics App:</p>

<ol>
     <li>Install the Expo Client app on Google Play:<br/>
     <a href="https://play.google.com/store/apps/details?id=host.exp.exponent&referrer=www"><img src="/fcai/static/images/googleplay.png"></a><br/><br/>
     </li>
     
     <li>Open the app, tap on "Scan QR code", and point your camera here:<br/>
     <img src="/fcai/static/images/qr2.png" style="height:150px"><br/>
     Please note: if you have not run the app before, downloading may take a couple of minutes. Alternatively, you can <a href="https://expo.io/@fcai/fcai-app">use this Expo page to send a link to your phone</a>.<br/><br/>
     
     <li>Create an account, then enter basic information about the subject (age, gender, ethnicity, and education level).<br/><br/></li>
<li>The app will walk your subject through the testing process. This should take about 15 minutes.<br/><br/></li>
<li>When finished, you may access the test results on <a href="/fcai/default/results">this page</a>.<br/><br/></li>
     
</ol>

<hr/>

<p><i>The FCAI Psychometrics App is managed by Prof. Keivan Stassun and Dr. Dave Caudel. It was developed by Dan Burger and Gordon Kiesling. Special thanks to Dr. Frank Tong, Young Eun Park, Demetri Miller, and Alexa Levitt.
</i></p>
<p><i>Google Play and the Google Play logo are trademarks of Google LLC.
</i></p>
<p><i>Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc., registered in the U.S. and other countries.
</i></p>
<br/><br/>