{{extend 'layout.html'}}
<h1>Privacy Policy (effective May 4, 2018)</h1>

<a href="/fcai">Return to main page</a>

<hr/>

    <style type="text/css">
        .lst-kix_fs931smhxbfm-0>li:before{content:"\0025cf  "}.lst-kix_fs931smhxbfm-1>li:before{content:"\0025cb  "}.lst-kix_fs931smhxbfm-3>li:before{content:"\0025cf  "}.lst-kix_fs931smhxbfm-2>li:before{content:"\0025a0  "}ul.lst-kix_fs931smhxbfm-3{list-style-type:none}ul.lst-kix_fs931smhxbfm-2{list-style-type:none}.lst-kix_fs931smhxbfm-8>li:before{content:"\0025a0  "}ul.lst-kix_fs931smhxbfm-1{list-style-type:none}ul.lst-kix_fs931smhxbfm-0{list-style-type:none}.lst-kix_fs931smhxbfm-7>li:before{content:"\0025cb  "}.lst-kix_fs931smhxbfm-4>li:before{content:"\0025cb  "}.lst-kix_fs931smhxbfm-5>li:before{content:"\0025a0  "}ul.lst-kix_fs931smhxbfm-8{list-style-type:none}ul.lst-kix_fs931smhxbfm-7{list-style-type:none}.lst-kix_fs931smhxbfm-6>li:before{content:"\0025cf  "}ul.lst-kix_fs931smhxbfm-6{list-style-type:none}ul.lst-kix_fs931smhxbfm-5{list-style-type:none}ul.lst-kix_fs931smhxbfm-4{list-style-type:none}ol{margin:0;padding:0}table td,table th{padding:0}.c0{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c1{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left;height:11pt}.c3{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c4{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:italic}.c2{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c5{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c6{margin-left:36pt;padding-left:0pt}.c7{padding:0;margin:0}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}
    </style>

    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Privacy Policy</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span>The Frist Center for Autism and Innovation (&ldquo;FCAI&rdquo;)</span><span class="c0">&nbsp;operates the FCAI Psychometrics App, which provides the SERVICE.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">This page is used to inform users of the FCAI Psychometrics App regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that we collect are used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Information Collection and Use</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">For a better experience while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to: your name and email address, and the age, gender, ethnicity, and education level of your subject. The information that we collect will be used to contact or identify you.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Log Data</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer&rsquo;s Internet Protocol (&ldquo;IP&rdquo;) address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Cookies</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer&rsquo;s hard drive.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">The website portion of the FCAI Psychometrics App, which gives results of the tests administered, uses these &ldquo;cookies&rdquo; to collection information and to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Service Providers</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">We may employ third-party companies and individuals due to the following reasons:</span></p>
    <p class="c1"><span class="c0"></span></p>
    <ul class="c7 lst-kix_fs931smhxbfm-0 start">
        <li class="c2 c6"><span class="c0">To facilitate our Service;</span></li>
        <li class="c2 c6"><span class="c0">To provide the Service on our behalf;</span></li>
        <li class="c2 c6"><span class="c0">To perform Service-related services; or</span></li>
        <li class="c2 c6"><span class="c0">To assist us in analyzing how our Service is used.</span></li>
    </ul>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">We want to inform our Service users that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Security</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Links to Other Sites</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Children&rsquo;s Privacy</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">Our Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Changes to This Privacy Policy</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Contact Us</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c4">This Privacy Policy page is based on a template at PrivacyPolicyTemplate.net.</span></p>
    <p class="c1"><span class="c0"></span></p>

{{=BEAUTIFY(response._vars)}}
