{{extend "layout.html"}}
{{import json}}
{{from gluon.tools import prettydate}}

<<style type="text/css">
     .tg  {border-collapse:collapse;border-spacing:0;}
     .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
     .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
     .tg .tg-0lax{text-align:left;vertical-align:top}
     .tg .tg-tf2e{text-align:left;vertical-align:top}
     .tg .tg-jjut{text-align:right;vertical-align:top}
     </style>

<h1>Results for your user {{if not request.vars.user_ID:}}<a href="/fcai/default/user/logout?_next=/fcai">(logout)</a>{{pass}}</h1>

<dl class="dl-horizontal">
    <dt>Age</dt>
    <dd>{{=auth.user.age}}</dd>
    <dt>Gender</dt>
    <dd>{{=auth.user.gender}}</dd>
    <dt>Ethnicity</dt>
    <dd>{{=auth.user.ethnicity}}</dd>
    <dt>Education</dt>
    <dd>{{=auth.user.education}}</dd>
    <dt>Difficulty (1-10)</dt>
    <dd>{{=auth.user.difficulty}}</dd>
    <dt>Engagement (1-10)</dt>
    <dd>{{=auth.user.engagement}}</dd>
    <dt>Comments</dt>
    <dd>{{=auth.user.comments}}</dd>
</dl>

<i>
<dl class="dl-horizontal">
     <dt>Part 1:</dt>
     <dd>Reference line appears continuously. User is given 5 trials, and has to reach a score of at least 95. If the user fails, the old results will appear alongside the new results.</dd>
     <dt>Part 2:</dt>
     <dd>Two reference lines flash before circle appears. User is given 5 trials, and has to reach a score of at least 80. If the user fails, the old results will appear alongside the new results.</dd>
     <dt>Part 3:</dt>
     <dd>Six reference lines flash before circle appears. User is given 10 trials.</dd>
     <dt>Main Test:</dt>
     <dd>Similar to part 3 with 106 trials. To keep the test consistent with the original test by Dr. Frank Tong, every 11th trial will have only one line instead of six.</dd>
</dl>
</i>


<hr/>

{{for result in user_results:}}

<h3>Test taken {{=prettydate(result.created_on,T)}} ({{=result.created_on}})</h3>

<dl class="dl-horizontal" id="{{=result.id}}">
    
     <dt>Type</dt>
     <dd>{{=result.f_type}}</dd>
     <dt>Screen Size</dt>
     <dd>{{=result.f_screen_width}}x{{=result.f_screen_height}}</dd>
     <dt>Requested Feedback</dt>
     <dd>{{=result.f_feedback and "Yes" or "No"}}</dd>
    <dt>Completion Time</dt>
    <dd>{{=result.modified_on - result.created_on}}</dd>
    
</dl>

<table class="tg">
          <tr>
            <th class="tg-0lax">Part<br></th>
            <th class="tg-0lax">Attempt</th>
            <th class="tg-0lax">Expected</th>
            <th class="tg-0lax">Submitted</th>
            <th class="tg-0lax">Score</th>
            <th class="tg-0lax">Position</th>
            <th class="tg-0lax">Other Elements</th>
          </tr>
          {{for r in rounds[result.id]:}}
          <tr>
          
            <td class="tg-tf2e">{{=r.f_part}}</td>
            <td class="tg-tf2e">{{=r.f_attempt}}</td>
            <td class="tg-jjut">{{=r.f_expected_value}}</td>
            <td class="tg-jjut">{{=r.f_user_value}}</td>
            <td class="tg-jjut">{{=r.f_score}}</td>
            <td class="tg-jjut">({{=r.f_x_pos}},{{=r.f_y_pos}})</td>
            <td class="tg-tf2e">
                 {{for oe in other_elements[r.id]:}}
                 {{=oe.f_value}} at ({{=oe.f_x_pos}},{{=oe.f_y_pos}})<br/>
                 {{pass}}
            </td>
          
          </tr>
          {{pass}}
        </table>

{{pass}}